:root {
    --main-color: rgb(128, 0, 32);
    --sub-color: rgb(128, 0, 32);
    --background-color: rgb(255, 32, 64);
    --text-color: white;
    --menu-color: white;
    scroll-behavior: smooth;
    font-size: 1.15rem;


}

body {
    width: 90%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

/* a:link {
    color: var(--main-color);
}

a:visited {
    color: var(--sub-color);

} */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1 {
    position: absolute;
    color: var(--main-color);
    font-size: 6.5vh;
    text-shadow: .125rem .125rem .3rem white;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-weight: 300;
    z-index: 100;
    transition: ease-in-out .15s;

}

section h2 {
    color: var(--text-color);
    text-align: center;
    background-color: var(--sub-color);
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
}


h3 {
    text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* header {

} */

header img {
    margin-left: 0;
    margin-right: 0;
    width: 90vw;
    max-height: 25vh;
    object-fit: cover;
    z-index: 99;
    opacity: 1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body .nav {
    position: sticky;
    top: -1vh;
    background-color: var(--sub-color);
    padding-top: 2vh;
    padding-bottom: .75rem;
    border-bottom:.5vh solid var(--sub-color);
    border-bottom-left-radius: 1vh;  
    border-bottom-right-radius: 1vh;
    margin-bottom: 1vh;

}

.nav ul {
    display: flex;
    justify-content: space-around;
    align-content: center;


}



.nav li {
    transform: translate(-1.25vw, 0);
    margin-left: 5vw;
    margin-right: 5vw;
    color: white;
    width: 25rem;
    border-radius: .5rem;
    background-color: var(--menu-color);
    transition: ease-in-out 0.25s;
    padding: .5rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1rem;
    
}

.nav li:hover {
   
    scale: 1.25;
    transform: translate(-1.5vw, 0);
    background-color: var(--background-color);


}

.nav h2:visited {
    color: var(--main-color);
}

.nav li:hover h2 {
    color: var(--menu-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.aboutme div{
    background-color: var(--background-color);
    margin-bottom: 1vh;
    border-bottom-left-radius: 1vh;  
    border-bottom-right-radius: 1vh;
    min-height: 59vh;
}
.aboutme img {
    width: 200px;
    height: 200px;
    border: 1rem solid var(--background-color);
    border-radius: 2vw;
    margin-top: 4%;
    float: left;
    
}

.aboutme p {
    padding: 3.35rem;
    color: var(--text-color);

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* main {
    
} */

/* main .works {
    min-height: 59vh;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 3vh;
    padding-bottom: 20vh;
    border-bottom-right-radius: 1vh;
    border-bottom-left-radius: 1vh;
    margin-bottom: 1vh;
} */

.worksgrid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--background-color);
    padding: 1vh;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    margin-bottom: 1vh;
}

.worksgrid li {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid var(--main-color);
    padding: 20px;
    font-size: 30px;
    text-align: center;

}

.worksgrid .main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.worksgrid img {
    width: 20vw;
    height: 20vh;
}

.main a img {
    display: block;
    width: 100%;
    height: 90%;
    background-color: #772014;

}

.sub a img {
    display: block;
    margin: auto;
    background-color: #772014;
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer {
    display: flex;
    justify-content: space-evenly;
    height: 20vh;
    padding-top: 3vh;
    line-height: 4vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    background-color: var(--main-color);
 
}

.footeritem {
    display: flex;
    justify-content: center;
    
}

footer li {
    height: 3.5vh;
    width: 3.5vw;
    min-width: 70px;
    min-height: 70px;
    border-top: 3vh;
    border-bottom: 3vh;
    padding-left: 1vw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.parallax {
    background-image: url("../assets/img/qk6505.jpg");
    height: 30vh; 
    border-radius: 1vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130vh;
    margin-bottom: 1vh;
    border-radius: 1vh;
  }

.parallax2 {
    background-image: url("../assets/img/cl08.jpg");
    height: 30vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130vh;
    margin-bottom: 1vh;
    border-radius: 1vh;
}

.parallax3 {
    background-image: url("../assets/img/lm02.jpg");
    height: 30vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130vh;
    margin-bottom: 1vh;
    border-radius: 1vh;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

  .contact {
    opacity: 1;
    background: var(--background-color);
    border-radius: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
  
  }
  
  .contact .form-element {
    margin: 2vw 2vw;
  }
  
  .contact label {
    font-size: 1rem;
    display: block;
  
  }
  
  .contact input[type="text"], 
  .contact textarea {
    margin-top: 5px;
    display: flex;
    width: 95%;
    padding: 10px;
    outline:none;
    border: 1px solid #aaa;
    border-radius: 5px;
  
  }
  
  .contact button {
    width: 25vw;
    height: 40px;
    font-size: 1.25rem;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 50%;
    transform: translate(-53%, 0);
    transition: ease-in-out 0.25s;
    
  }
  
  .contact button:hover {
  color: var(--background-color);
  transform: translate(-11.75vw, 0);
  scale: 1.15;
  
  }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 992px) {
    header {
      background: #772014;
      
    }

    h1 {
        font-size: 4.5vh;
    }

    .nav li {
        font-size: .8rem;

    }

    .worksgrid {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }

  }
  

@media screen and (max-width: 768px) {
    header {
        background-color: #772014;
        
      }
    h1 {
        font-size: 3.5vh;
    }
    .nav li {
        font-size: .6rem;
    
    }

    .worksgrid {
        display: block;
        
    }

    .sub img {
        margin: auto;
        min-width: 300px;
    }

  }
  

@media screen and (max-width: 576px) {
    header {
        background: var(--sub-color);

      }
    
      h1 {
        font-size: 2.75vh;
    }
    
    .nav li {
        font-size: .5rem;

    }

    main .works {
        flex-wrap: wrap;
    }

  }

  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  