:root {
    --main-color: blue;
    --sub-color: black;
    --background-color: white;
    --inverse-sub-color: white;
    --menu-color: white;
    scroll-behavior: smooth;
}

body {
    width: 90%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

a:hover {
    color: red;
    cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* header {

} */

header img {
    margin-left: 0;
    margin-right: 0;
    width: 90vw;
    max-height: 25vh;
    object-fit: cover;
    z-index: 99;
    opacity: 1;
}

h1 {
    position: absolute;
    color: black;
    font-size: 6.5vh;
    text-shadow: .125rem .125rem .3rem white;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-weight: 300;
    z-index: 100;
    transition: ease-in-out .15s;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body .nav {
    position: sticky;
    top: 0;
    background-color: var(--sub-color);
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom:.5vh solid var(--sub-color);
    border-bottom-left-radius: 1vh;  
    border-bottom-right-radius: 1vh;
    margin-bottom: 1vh;

}

.nav ul {
    display: flex;
    justify-content: center;
    align-content: center;


}



.nav li {
    transform: translate(-15%, 0);
    margin-left: 12.5%;
    margin-right: 12.5%;
    color: white;
    width: 25rem;
    border-radius: .5rem;
    background-color: var(--menu-color);
    transition: ease-in-out 0.25s;
    padding: .5rem;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    line-height: 1rem;
    
}

.nav li:hover {
    color: var(--inverse-sub-color);
    scale: 1.25;
    transform: translate(-15%, 0);
    background-color: aqua;
    

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.aboutme div{
    background-color: var(--main-color);
    margin-bottom: 1vh;
    border-bottom-left-radius: 1vh;  
    border-bottom-right-radius: 1vh;
}
.aboutme img {
    width: 200px;
    height: 200px;
    border: 1rem solid var(--main-color);
    border-radius: 1vw;
    float: left;
    
}

.aboutme p {
    padding: 3.35rem;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* main {
    
} */

section h2 {
    color: var(--inverse-sub-color);
    text-align: center;
    background-color: var(--sub-color);
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
}

main .works {
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    padding-top: 3vh;
    padding-bottom: 20vh;
    border-bottom-right-radius: 1vh;
    border-bottom-left-radius: 1vh;
    margin-bottom: 1vh;
}

h3 {
    text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer {
    display: flex;
    justify-content: space-evenly;
    height: 20vh;
    padding-top: 3vh;
    line-height: 4vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    background-color: var(--main-color);
 
}

.footeritem {
    display: flex;
    justify-content: center;
    
}

footer li {
    height: 3.5vh;
    width: 3.5vw;
    min-width: 70px;
    min-height: 70px;
    border-top: 3vh;
    border-bottom: 3vh;
    padding-left: 1vw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.parallax {
    background-image: url("../assets/img/qk6505.jpg");
    height: 30vh; 
    border-radius: 1vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130vh;
    margin-bottom: 1vh;
    border-radius: 1vh;
  }

.parallax2 {
    background-image: url("../assets/img/cl08.jpg");
    height: 30vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130vh;
    margin-bottom: 1vh;
    border-radius: 1vh;
}

.parallax3 {
    background-image: url("../assets/img/lm02.jpg");
    height: 30vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130vh;
    margin-bottom: 1vh;
    border-radius: 1vh;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

  .contact {
    opacity: 1;
    background: #fff;
  
  }
  
  .contact .form-element {
    margin: 2vw 2vw;
  }
  
  .contact label {
    font-size: 1rem;
    display: block;
  
  }
  
  .contact input[type="text"], 
  .contact textarea {
    margin-top: 5px;
    display: flex;
    width: 95%;
    padding: 10px;
    outline:none;
    border: 1px solid #aaa;
    border-radius: 5px;
  
  }
  
  .contact button {
    width: 25vw;
    height: 40px;
    font-size: 1.25rem;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 50%;
    transform: translate(-53%, 0);  
  }
  
  .contact button:hover {
  color: brown;
  
  }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 992px) {
    header {
      background: #772014;
      
    }

    h1 {
        font-size: 4.5vh;
    }
  }
  

@media screen and (max-width: 768px) {
    header {
        background-color: #772014;
        
      }
    h1 {
        font-size: 3.5vh;
    }
    

  }
  

@media screen and (max-width: 576px) {
    header {
        background: var(--sub-color);

      }
    
      h1 {
        font-size: 2.75vh;
    }
    
    main .works {
        flex-wrap: wrap;
    }

  }

  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  