:root {
    --main-color: rgb(128, 0, 32);
    --sub-color: rgb(128, 0, 32);
    --background-color: rgb(255, 32, 64);
    --text-color: white;
    --menu-color: white;
    scroll-behavior: smooth;
    font-size: 1.15rem;
    font-family:Georgia, 'Times New Roman', Times, serif
    /* created CSS var for ease of change later */

}

body {
    width: 90vw;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    /* more visually pleasing */
}

/* a:link {
    color: var(--main-color);
}

a:visited {
    color: var(--sub-color);

} */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1 {
    position: absolute;
    color: var(--main-color);
    font-size: 6.05vh;
    text-shadow: .125rem .125rem .3rem white;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-weight: 300;
    z-index: 100;
    transition: ease-in-out 75ms;
    /* first animation and use of media query */

}
    /* placed all headers near each other of easy modification */
section h2 {
    color: var(--text-color);
    text-align: center;
    background-color: var(--sub-color);
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
}


h3, h4 {
    text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* header {

} */
/* first use of object fit and z-index */
header img {
    margin-left: 0;
    margin-right: 0;
    width: 90vw;
    max-height: 25vh;
    object-fit: cover;
    z-index: 99;
    opacity: 1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* will be copy pasta ing this later */
body .nav {
    position: sticky;
    top: -0.25vh;
    background-color: var(--main-color);
    padding-top: 1.25vh;
    padding-bottom: .75rem;
    border-top: -1vh solid var(--main-color);
    border-bottom-left-radius: 1vh;  
    border-bottom-right-radius: 1vh;
    margin-bottom: 1vh;
    z-index: 90;

}

.nav ul {
    display: flex;
    justify-content: space-around;
    align-content: center;


}



.nav li {
    transform: translate(-1.25vw, 0);
    margin-left: 5vw;
    margin-right: 5vw;
    color: var(--menu-color);
    width: 25rem;
    border-radius: .5rem;
    background-color: var(--menu-color);
    transition: ease-in-out 250ms;
    padding: .5rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1rem;
    
}

/* psuedo classes in action  */
.nav li:hover {
   
    scale: 1.15;
    transform: translate(-1.15vw, 0);
    background-color: var(--background-color);

}

.nav li:active {
    scale:1.05;
    
}
.nav a:visited h2 {
    color: var(--main-color);
}

.nav li:hover h2 {
    color: var(--menu-color);
}

.nav li:active h2 {
    color: var(--main-color);
    transition: ease-in-out 75ms;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* majority of CSS in vh/vw */
.aboutme div{
    background-color: var(--background-color);
    margin-bottom: 1vh;
    border-bottom-left-radius: 1vh;  
    border-bottom-right-radius: 1vh;
    min-height: 59vh;
}
.aboutme img {
    width: 200px;
    height: 200px;
    border: 1rem solid var(--background-color);
    border-radius: 2vw;
    margin-top: 4%;
    float: left;
    
}

.aboutme p {
    padding: 3.35rem;
    color: var(--text-color);

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* main {
    
} */

/* learning grid the hard way, works fine, needs for testing */
.worksgrid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--background-color);
    padding: 1vh;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    margin-bottom: 1vh;
}

.worksgrid li {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid var(--main-color);
    padding: 20px;
    font-size: 30px;
    text-align: center;

}

.worksgrid .main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.main a img, .sub a img {
    display: block;
    border-radius: 1vh;
    box-shadow: -.25vh .25vh 2.5vh black;
    transition: ease-in-out 0.3s;
    background-color: var(--main-color);
}

.main a img {
    width: 100%;
    height: 90%;

}

.sub a img {
    margin: auto;

}

.main a img:hover, .sub a img:hover {
    scale: 1.025;
    box-shadow: -.15vh .15vh .5vh black;
    filter:brightness(1.05);
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Look away it's hidious */
.mainfooter {
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    padding-top: 3vh;
    line-height: 4vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh; 
    background-color: var(--main-color);
 
}

.mainfooter .footer {
    width: fit-content;
    top: 2vh;
    height: 30vh;

}

.mainfooter li img {  
    margin: auto;
    transform: translate(-1.5vw, 0);
    height: 70px;
    width: 70px;
    padding: 5px;
    transition: ease-in-out 250ms;
}

.mainfooter li img:hover {
    scale: 1.1;
    transform: translate(-1.35vw, 0);
    filter:brightness(1.25);

}

.mainfooter li {
    position: relative;
    display: block;  
    margin: auto;
    padding-top: 2.5vh;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Look for a better meathod later */
.parallax {
    background-image: url("../assets/img/qk6505.jpg");
    height: 35vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1vh;
    border-radius: 1vh;
}

.parallax2 {
    background-image: url("../assets/img/cl08.jpg");
    height: 35vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1vh;
    border-radius: 1vh;
}

.parallax3 {
    background-image: url("../assets/img/lm02.jpg");
    height: 35vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1vh;
    border-radius: 1vh;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    /* copy pasta from a prior work with mild tweens to fit app. */
  .contact {
    opacity: 1;
    background: var(--background-color);
    border-radius: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
  
  }
  
  .contact .form-element {
    margin: 2vw 2vw;
  }
  
  .contact label {
    font-size: 1rem;
    display: block;
    color: var(--text-color);
  
  }
  
  .contact input[type="text"], 
  .contact textarea {
    margin-top: 5px;
    display: flex;
    width: 95%;
    padding: 10px;
    outline:none;
    border: 1px solid #aaa;
    border-radius: 5px;
  
  }
  
  .contact button {
    width: 25vw;
    height: 40px;
    font-size: 1.25rem;
    background: var(--text-color);
    color: var(--main-color);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 50%;
    transform: translate(-53%, 0);
    transition: ease-in-out 125ms;
    
  }
  
  .contact button:hover {
  color: var(--text-color);
  background-color: var(--background-color);
  transform: translate(-11.75vw, 0);
  scale: 1.15;
  
  }

  .contact button:active {
    transform: translate(-12.75vw, 0);
    scale: 1.05;
    color: var(--text-color);
    transition: ease-in-out 75ms;
    background-color: var(--main-color);
  }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Tablet screen */
@media screen and (max-width: 992px) {
    header {
      background: var(--background-color);
      
    }

    h1 {
        font-size: 4.5vh;
    }

    .nav li {
        font-size: .8rem;

    }

    .worksgrid {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }

  }
  

@media screen and (max-width: 768px) {
    header {
        background-color: var(--background-color);
        
      }
    h1 {
        font-size: 3.5vh;
    }
    .nav li {
        font-size: .6rem;
    
    }

    .worksgrid {
        display: block;
        
    }

    .sub img {
        margin: auto;
        min-width: 200px;
    }

    .mainfooter {
        display: inline-block;
        columns: 1;
        width: 90vw;
        text-align: left;
    }

    .mainfooter img {
        margin:auto;
        transform: translate(-4.5vw, 0);
    }

  }
  
/* Phone screen */
@media screen and (max-width: 450px) {
    .footer {
        display: block;
        position: relative;
        margin: auto;
    }
}

@media screen and (max-width: 1000px ) and (orientation: landscape) {
    .mainfooter {
        padding-bottom: 15vh;
    }
}


@media screen and (max-width: 576px) {
    header {
        background: var(--sub-color);

      }
    
      h1 {
        font-size: 2.75vh;
    }
    
    .nav li {
        font-size: .5rem;
        transform: translate(-3.25vw, 0);

    }

    .nav li:hover {
   
        scale: 1.15;
        transform: translate(-3vw, 0);
    }

    .aboutme div img {
        display: block;
        position: relative;
        margin: auto;
        float: none;
    }

    main .works {
        flex-wrap: wrap;
    }

    .form {
        transform: translate(-2vw, 0);
    }

    .mainfooter img {
        margin:auto;
        transform: translate(-100.5vw, 0);
    }
  }

  @media screen and (max-width: 300px) {
    .nav ul {
        flex-wrap: wrap;
        scale: .8;
        transform: translate(-3.5vw, 0);
    }

    .form {
        transform: translate(-5vw, 0);
    }
  }

  /* limit parallax from overly large screens */
  /* @media only screen and (max-device-width: 1366px) {
    .parallax, .parallax2, .parallax3 {
      background-attachment: scroll;
      background-clip: content-box;
    }
  }
   */